.input-group {
  margin: 20px 0px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type {
  height: 200px;
  width: 250px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
p, div {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

img.bot-img {
  height:135px;
}

.main-header {
    display: inline;
    vertical-align: bottom;
    margin-left: 30px;    
}

.top-space {
  margin-top: 1%;
}