
/*####### ALL MEDIA ########*/

.input-group {
  margin: 20px 0px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type {
  height: 200px;
  width: 250px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
p, div {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

img.bot-img {
  height:135px;
}

.main-header {
  display: inline;
  vertical-align: bottom;
  margin-left: 30px;    
}

.top-space {
  margin-top: 10px;
}

.footer {
  position: fixed;
  bottom: 50px;
  display: inline-flex;
}

.social-icons-bar {
  margin-top: 70px;
  text-align: center;
}

.social-media {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}
.share-count {
  font-size: 12px;
}
/*####### (end all media) ########*/


/*####### MOBILE <992px PORTRAIT ########*/

@media screen and (max-width:991px) and (orientation:portrait) { 
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .footer-link {
    text-decoration: underline;
    padding: 0 7px 0 7px !important;
  }

  .footer {
    right:30px;
  }

  input[type="submit"],
  .mobilebutton {
    cursor:pointer !important;
    -webkit-appearance:none !important;
    -moz-appearance:none !important;
  }

  .social-icons-bar {
    margin-top: 100px;
  }  

  .social-media {

  }

  .share-button {

  }
  #send-joke-btn-mobile {
    font-size: 24px;
    height: 70px;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;    
  }

  #phone-input {
    font-size: 24px;
    height: 70px;
    width: 300px;    
  }
  .phone-label-mobile {
    font-size: 22px !important;
  }
}
/*####### (end mobile <992px portrait) ########*/


/*####### MOBILE <992px LANDSCAPE ########*/

@media screen and (max-width:991px) and (orientation:landscape) { 
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .social-icons-bar {
    display:none;
  }
}
/*####### (end mobile <992px landscape) ########*/


/*####### DESKTOP >=992px ########*/

@media screen and (min-width:992px) {
  .desktop {
    display: block !important;
  }
  .mobile {
    display: none !important;
  }
  .footer {
    right: 20%;    
  }

  .footer-link {
    padding: 0 17px 0 17px !important;
    width: auto !important
  }

  #send-joke-btn {
    font-size: 24px;
    height: 70px;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
  }

  #phone-input {
    font-size: 24px;
    height: 70px; 
    width: 300px;
  }

  #phone-div {
    float:none;
  }
}
/*####### (end desktop >=992px) ########*/
